body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url('./img/잠만보.png');
  color: rgb(11, 97, 56);
  padding: 1rem;
  text-align: center;
  max-height:400px;
  font-size:20px;
  text-shadow: 2px 2px 0px rgb(255, 255, 255);
  padding-top:200px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba( 255, 255, 255, 0.5 );
}

nav li {
  display: inline;
  margin-right: 10px;
  color:black;

}

nav a {
  color: rgb(58, 43, 43);
  text-decoration: none;
  text-align: center;
  margin-left: 200px;

}

section {
  padding: 2rem;
  text-align: center;
}

footer {
  top: 900px ;
  background-color:  rgb(11, 97, 56);
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

