h2{
    text-align: center;
}

#todolist{
 overflow-y: scroll;
    text-align: center;
    width:800px;
    max-height: 200px;
    background-color: rgb(238, 235, 235);
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
li{
    list-style: none;
    margin-bottom: 10px;
}

img{
   height: 250px;
    margin-left:750px;
}

input{
    width:700px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
}

#btn{
    margin-left: 500px;
}

#updateComment{
    width:400px;
}

#comment{
    margin-right: 550px;
    margin-left: -50px;
}

hr{
    margin-left: -40px;
}

#GOupdate{
    height: 50px;
}